{% extends 'cakeshop/base.html' %}
{% load static %}

{% block main_block %}
<head>
    <link href="{% static 'css/cake_edit.css' %}" rel="stylesheet" />
    <link href="{% static 'js/cake_add.js' %}" rel="stylesheet" />
</head>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 class="mb-3">Edit Cake</h3>
                    <form class="requires-validation" novalidate method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
              
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}